<mat-toolbar>
  <div class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div>

  <span class="toolbar-title" routerLink="/empleados">
    <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
    iHelmet
  </span>

  <div class="user-menu">
    <div class="menu-icon" (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/profile">Perfil</a>
      <a mat-list-item routerLink="/register-employee">Registro Empleado</a>
      <a mat-list-item routerLink="/register-address">Registrar Direccion</a>
      <a mat-list-item routerLink="/edit-employee">Editar Empleado</a>
      <a mat-list-item routerLink="/delete-employee">Eliminar Empleado</a>
      <a mat-list-item routerLink="/register-helmet">Registrar Casco</a>
      <a mat-list-item routerLink="/sensor-record">Historial de Sensores</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <br>
    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing. {{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>
    <br>

    <main class="main-content">
      <h3>Empleado: {{ name }} - Casco: {{ helmet }} <br><br> Información de sus sensores </h3>

      <div class="sensor-grid">
        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title>Gases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sensor-value" [ngClass]="{'warning': gasDetected}">
              {{ gasDetected ? '¡Gas Detectado!' : 'Sin gas detectado' }}
            </div>
            <p>MQ135: {{ mq135Value }}</p>
            <p>MQ2: {{ mq2Value }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title>Humedad del Suelo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sensor-value" [ngClass]="{'warning': soilMoisture}">
              {{ soilMoisture ? 'Húmedo' : 'Seco' }}
            </div>
            <p>FC28: {{ fc28Value }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title>Humedad del Aire</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="sensor-value" [ngClass]="{'warning': humidityStatus !== 'Normal'}">
              {{ humidityStatus }}
            </div>
            <p>Humedad: {{ humidity }}%</p>
          </mat-card-content>
        </mat-card>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
