<mat-toolbar>
  <div class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div>

  <span class="toolbar-title" routerLink="/home">
    <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
    iHelmet
  </span>

  <div class="user-menu">
    <div class="menu-icon" (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="toggleSubmenu('inicio')">
        <span class="menu-item">
          <span>Inicio</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['inicio']">
        <a mat-list-item routerLink="/home">Inicio</a>
      </div>
  
      <a mat-list-item (click)="toggleSubmenu('empleados')">
        <span class="menu-item">
          <span>Empleados</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['empleados']">
        <a mat-list-item routerLink="/register-employee">Registro Empleado</a>
        <a mat-list-item routerLink="/edit-employee">Editar Empleado</a>
        <a mat-list-item routerLink="/delete-employee">Eliminar Empleado</a>
        <a mat-list-item routerLink="/inf-employee">Información Empleados</a>
      </div>
  
      <a mat-list-item (click)="toggleSubmenu('otros')">
        <span class="menu-item">
          <span>Otros</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['otros']">
        <a mat-list-item routerLink="/verificate-account">Verificar Cuentas</a>
        <a mat-list-item routerLink="/register-address">Registrar Dirección</a>
        <a mat-list-item routerLink="/register-helmet">Registrar Casco</a>
        <a mat-list-item routerLink="/sensor-record">Historial de Sensores</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <br>
    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing. {{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>
    <br>

    <main class="main-content">
      <h3>Empleado: {{ name }} - Casco: {{ helmet }} <br><br> Información de sus sensores </h3>
  
      <div class="sensor-grid">
        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title class="centered-text">Gases</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="mq135Value !== null && mq2Value !== null; else noGasData">
              <div class="sensor-value centered-text" [ngClass]="{'warning': gasDetected}">
                {{ gasDetected ? 'Detectado' : 'No detectado' }}
              </div>
              <div *ngIf="message.includes('gases')" class="sensor-message centered-text">
                {{ message }}
              </div>
            </div>
            <ng-template #noGasData>
              <div class="error-message centered-text">No se encontraron datos de gases para este casco</div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title class="centered-text">Humedad del Suelo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="fc28Value !== null; else noSoilData">
              <div class="sensor-value centered-text" [ngClass]="{'warning': soilMoisture}">
                {{ soilMoisture ? 'Detectada' : 'No detectada' }}
              </div>
            </div>
            <ng-template #noSoilData>
              <div class="error-message centered-text">No se encontraron datos de humedad del suelo para este casco</div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="sensor-card">
          <mat-card-header>
            <mat-card-title class="centered-text">Humedad del Aire</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="humidity !== null; else noHumidityData">
              <div class="sensor-value centered-text" [ngClass]="{'warning': humidityStatus !== 'Normal'}">
                {{ humidity }}% - {{ humidityStatus }}
              </div>
              <div *ngIf="message.includes('humedad')" class="sensor-message centered-text">
                {{ message }}
              </div>
            </div>
            <ng-template #noHumidityData>
              <div class="error-message centered-text">No se encontraron datos de humedad del aire para este casco</div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
      
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
