mat-toolbar {
    background-color: #2596BE;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar-title {
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  
  
  .container {
    padding: 20px;
  }

  h2{
    text-align: center;
    font-size: 40px;

  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .custom-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #85CAFF;
    border: none;
    padding: 20px;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }
  .custom-button1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #40CFFF;
    border: none;
    padding: 20px;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }
  .custom-button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2499C7;
    border: none;
    padding: 20px;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }
  .custom-button3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #85CAFF;
    border: none;
    padding: 20px;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .custom-button span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
  }
  .custom-button2 span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
  }
  .custom-button1 span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
  }
  .custom-button3 span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;

  }

  .user-info {
    background-color: #006691;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .user-info mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .info p {
    margin: 0;
    line-height: 1.2;
  }
  
  .info p:first-child {
    font-weight: bold;
  }

  .custom-link {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Heredar el color del elemento padre */
    font-size: 38px; /* Tamaño de fuente especificado */
    cursor: pointer; /* Cambiar el cursor a un puntero */
  }
  
