<mat-toolbar>
  <div class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div>
  
  <span class="toolbar-title" routerLink="/home">
    <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
    iHelmet
  </span>

  <div class="user-menu">
    <button mat-icon-button (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/profile">Perfil</a>
      <a mat-list-item routerLink="/register-employee">Registro Empleado</a>
      <a mat-list-item routerLink="/register-address">Registrar Direccion</a>
      <a mat-list-item routerLink="/edit-employee">Editar Empleado</a>
      <a mat-list-item routerLink="/delete-employee">Eliminar Empleado</a>
      <a mat-list-item routerLink="/register-helmet">Registrar Casco</a>
      <a mat-list-item routerLink="/sensor-record">Historial de Sensores</a>
      <a mat-list-item routerLink="/inf-employee">Información Empleados</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido Principal -->
  <mat-sidenav-content>
    <br>

    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing. {{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>

    <div class="container">
      <h2>Empleado: {{ name }} - Casco: {{ helmet }}</h2>
      <br>
      <div class="button-container">
        <button class="custom-button" (click)="gps()">
          <img src="../../assets/gps1.png" alt="GPS" class="button-icon">
          <span>GPS</span>
        </button>
        <button class="custom-button1" (click)="ambiente()">
          <img src="../../assets/carbon-monoxide.png" alt="AMBIENTE" class="button-icon">
          <span>AMBIENTE</span>
        </button>
        <button class="custom-button2" (click)="estadisticas()">
          <img src="../../assets/thermometer.png" alt="Temperatura" class="button-icon">
          <span>TEMPERATURA</span>
        </button>
        <button class="custom-button3" (click)="camara()">
          <img src="../../assets/video-camera.png" alt="Camara" class="button-icon">
          <span>CAMARA</span>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
