<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <a href="/home" class="custom-link"><span style="font-size: 38px;">iHelmet</span></a>
      <span class="toolbar-title"></span>
    </div>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  
  <br>

  <div class="user-info" *ngIf="user">
    <mat-icon>account_circle</mat-icon>
    <div class="info">
      <p>Ing.{{ user.person.person_name }} {{ user.person.person_last_name }}</p>
      <p>{{ user.email }}</p>
    </div>
  </div>
  <br>

<div class="container">
  <h2>Empleado: {{ employeeName }} - Casco: {{ helmetSerialNumber }}</h2>
  <div class="button-container">
    
      <button class="custom-button" (click)="gps()">
        <img src="../../assets/gps1.png" (click)="gps()" alt="GPS" class="button-icon">
        <span>GPS</span>
      </button>
      <button class="custom-button1" (click)="ambiente()">
        <img src="../../assets/carbon-monoxide.png" (click)="ambiente()" alt="AMBIENTE" class="button-icon">
        <span>AMBIENTE</span>
      </button>
      <button class="custom-button2" (click)="temperatura()">
        <img src="../../assets/thermometer.png" (click)="temperatura()" alt="Temperatura" class="button-icon">
        <span>TEMPERATURA</span>
      </button>
      <button class="custom-button3" (click)="camara()">
        <img src="../../assets/video-camera.png" (click)="camara()" alt="Camara" class="button-icon">
        <span>CAMARA</span>
      </button>
    </div>
  </div>