<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">iHelmet</span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="user-info">
    <mat-icon>account_circle</mat-icon>
    <div class="info">
      <p>Ing. Adrian Gottfried</p>
      <p>adriangottfried.69@gmail.com</p>
    </div>
  </div>
  
  <div class="container">
    <h2>Empleado: Adrian CA230</h2>
    <div class="button-container">
      <button class="custom-button">
        <img src="../../assets/gps.png" alt="GPS" class="button-icon">
        <span>GPS</span>
      </button>
      <button class="custom-button">
        <img src="../../assets/ambiente.png" alt="Ambiente" class="button-icon">
        <span>Ambiente</span>
      </button>
      <button class="custom-button">
        <img src="../../assets/temperatura.png" alt="Temperatura" class="button-icon">
        <span>Temperatura</span>
      </button>
      <button class="custom-button">
        <img src="ruta/al/icono-temperatura.svg" alt="Temperatura" class="button-icon">
        <span>Temperatura</span>
      </button>
    </div>
  </div>