<mat-toolbar>
    <div class="menu-icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </div>
    
    <span class="toolbar-title" routerLink="/empleados">
      <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
      iHelmet
    </span>
  
    <div class="menu-icon">
        <mat-icon>account_circle</mat-icon>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/empleados">Inicio</a>
        <a mat-list-item routerLink="/registrar">Registro Empleado</a>
        <a mat-list-item routerLink="/address">Registrar Direccion</a>
        <a mat-list-item routerLink="/editar">Editar Empleado</a>
        <a mat-list-item routerLink="/eliminar">Eliminar Empleado</a>
        <a mat-list-item routerLink="/casco">Registrar Casco</a>
        <a mat-list-item routerLink="/reportes">Historial de Sensores</a>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Contenido Principal -->
    <mat-sidenav-content>
      <br>
    
    <br>
  
    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing.{{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>
  
  <div class="container">
    <h2>Empleado: {{ employeeName }} - Casco: {{ helmetSerialNumber }}</h2>
    <div class="button-container">
      
        <button class="custom-button" (click)="gps()">
          <img src="../../assets/gps1.png" (click)="gps()" alt="GPS" class="button-icon">
          <span>GPS</span>
        </button>
        <button class="custom-button1" (click)="ambiente()">
          <img src="../../assets/carbon-monoxide.png" (click)="ambiente()" alt="AMBIENTE" class="button-icon">
          <span>AMBIENTE</span>
        </button>
        <button class="custom-button2" (click)="estadisticas()">
          <img src="../../assets/thermometer.png" (click)="estadisticas()" alt="Temperatura" class="button-icon">
          <span>TEMPERATURA</span>
        </button>
        <button class="custom-button3" (click)="camara()">
          <img src="../../assets/video-camera.png" (click)="camara()" alt="Camara" class="button-icon">
          <span>CAMARA</span>
        </button>
      </div>
    </div>