<mat-toolbar>
  <div class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div>

  <span class="toolbar-title" routerLink="/home">
    <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
    iHelmet
  </span>

  <div class="user-menu">
    <div class="menu-icon" (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="toggleSubmenu('inicio')">
        <span class="menu-item">
          <span>Inicio</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['inicio']">
        <a mat-list-item routerLink="/home">Inicio</a>
      </div>

      <a mat-list-item (click)="toggleSubmenu('empleados')">
        <span class="menu-item">
          <span>Empleados</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['empleados']">
        <a mat-list-item routerLink="/register-employee">Registro Empleado</a>
        <a mat-list-item routerLink="/edit-employee">Editar Empleado</a>
        <a mat-list-item routerLink="/delete-employee">Eliminar Empleado</a>
        <a mat-list-item routerLink="/inf-employee">Información Empleados</a>
      </div>

      <a mat-list-item (click)="toggleSubmenu('otros')">
        <span class="menu-item">
          <span>Otros</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </a>
      <div class="submenu" [class.expanded]="expandedMenus['otros']">
        <a mat-list-item routerLink="/verificate-account">Verificar Cuentas</a>
        <a mat-list-item routerLink="/register-address">Registrar Dirección</a>
        <a mat-list-item routerLink="/register-helmet">Registrar Casco</a>
        <a mat-list-item routerLink="/sensor-record">Historial de Sensores</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing. {{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>

    <div class="content-area">
      <br>
      <br>
      <div class="form-container">
        <h2 class="form-title">Verificación de Cuenta</h2>
        <br>
        <br>
        <form class="login-form" (ngSubmit)="verifyCode()">
          <p class="instruction">Ingrese el código de verificación<br>enviado al correo electrónico.</p>
          
          <div class="verification-code-container">
            <div class="letters-container">
              <input type="text" maxlength="1" placeholder="A" class="code-input letter" #codeInput1 (keyup)="onCodeInput($event, codeInput2)">
              <input type="text" maxlength="1" placeholder="B" class="code-input letter" #codeInput2 (keyup)="onCodeInput($event, codeInput3)">
              <input type="text" maxlength="1" placeholder="C" class="code-input letter" #codeInput3 (keyup)="onCodeInput($event, codeInput4)">
            </div>
            <div class="numbers-container">
              <input type="text" maxlength="1" placeholder="1" class="code-input number" #codeInput4 (keyup)="onCodeInput($event, codeInput5)">
              <input type="text" maxlength="1" placeholder="2" class="code-input number" #codeInput5 (keyup)="onCodeInput($event, codeInput6)">
              <input type="text" maxlength="1" placeholder="3" class="code-input number" #codeInput6 (keyup)="onCodeInput($event, null)">
            </div>
          </div>
          
          <div *ngIf="codeError" class="error-message">{{ codeError }}</div>
          
          <button mat-raised-button color="primary" type="submit">Verificar Código</button>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>