<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <a href="/home" class="custom-link"><span style="font-size: 38px;">iHelmet</span></a>
      <span class="toolbar-title"></span>
    </div>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  
  <br>

  <div class="user-info">
    <mat-icon>account_circle</mat-icon>
    <div class="info">
      <p>Ing. Adrian Gottfried</p>
      <p>adriangottfried.69@gmail.com</p>
    </div>
  </div>

  <main class="main-content">
    <h2>Empleado : Adrian CA230</h2>
    <h3>Temperatura</h3>

    <div class="temperature-display">
      <p class="temperature">36 °C / 96.8 °F</p>
      <br>
      <p class="kelvin">309.15 °K</p>
    </div>
<br>
    <p class="status">Estado: <span class="danger">Peligro</span></p>

    <div class="warning-message">
      <p class="message">La Temperatura ha superado el limite seguro</p>
    </div>
  </main>
  