<div class="page-container">
    <div class="login-container">
      <div class="oval-background">
        <h1 class="ss">Cambio de Contraseña</h1>
      </div>
      <br>
      <br>
      <form class="login-form" (ngSubmit)="changePassword()">
        <p class="instruction">Ingrese su nueva contraseña</p>
        
        <div class="password-container">
          <label for="newPassword">Nueva Contraseña *</label>
          <div class="input-wrapper">
            <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" 
                   [(ngModel)]="newPassword" name="newPassword" required>
            <span class="material-icons eye-icon" (click)="toggleNewPasswordVisibility()">
              {{ showNewPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </div>
        </div>
  
        <div class="password-container">
          <label for="confirmPassword">Confirmar Contraseña *</label>
          <div class="input-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" 
                   [(ngModel)]="confirmPassword" name="confirmPassword" required>
            <span class="material-icons eye-icon" (click)="toggleConfirmPasswordVisibility()">
              {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </div>
        </div>
  
        <div *ngIf="formError" class="error-message">{{ formError }}</div>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
        
        <button mat-raised-button color="primary" type="submit">Cambiar Contraseña</button>
        
        <div class="login-links">
          <a [routerLink]="['/home']">Volver al Inicio de Sesión</a>
        </div>
      </form>
    </div>
  </div>