mat-toolbar {
  background-color: #2596BE;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-icon mat-icon, .user-icon mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

.toolbar-title {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.helmet-icon {
  height: 40px;
  margin-right: 10px;
}

mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.menu {
  font-size: x-large !important;
  color: white;
  flex: 0;
}

.tama {
  font-size: 30px;
}

.custom-card {
  background-color: #006691;
  color: white;
  box-shadow: none;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.mat-card-title,
.mat-card-subtitle {
  margin: 0;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example-button-row button {
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.tama1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.user-info {
  background-color: #006691;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.user-info mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  margin: 0;
  line-height: 1.2;
}

.info p:first-child {
  font-weight: bold;
}
