<div class="centered-container">
    <mat-card class="custom-card">
      <mat-card-content>
        <h2>Actualizar Contraseña</h2>
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput [(ngModel)]="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [(ngModel)]="newPassword" type="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput [(ngModel)]="confirmPassword" type="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Código de Verificación</mat-label>
          <input matInput [(ngModel)]="verificationCode" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updatePassword()">Actualizar Contraseña</button>
        <p *ngIf="message">{{ message }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  