<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">iHelmet</span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>


<br>
<br>

<div class="user-info">
  <mat-icon>account_circle</mat-icon>
  <div class="info">
    <p>Ing. Adrian Gottfried</p>
    <p>adriangottfried.69@gmail.com</p>
  </div>
</div>

  <br>

  <div style="text-align: center; font-family: 'Alegreya Sans', sans-serif;">
    <h1 style="font-size: 38px; font-weight: bold;">
      Empleados:
    </h1>
  </div>
  <br>

 

  <div class="example-button-row" style="text-align: center;">
  <button
  style="background-color: #85CAFF; color: white;"
    class="registrar"
   mat-flat-button (click)="estadisticas()">Registrar empleado</button>
 </div> 

  <br>
  <br>

  <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #40CFFF; color: white;"
      class="registrar"
     mat-flat-button (click)="editar()">Editar empleado</button>
   </div> 
  <br>
  <br>

  <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #2499C7; color: white;"
      class="registrar"
     mat-flat-button (click)="eliminar()" >Eliminar empleado</button>
     <br>
   </div> 

   <br>
   <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #2499C7; color: white;"
      class="registrar"
     mat-flat-button>Eliminar empleado</button>
     <br>
   </div> 
   
  



  