
<mat-toolbar>

    <div>
        <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
          <mat-icon class="menu">menu</mat-icon>
        </button>
      </div>
      
    <div>
        <span style="font-size: 38px;">iHelmet</span>
        <span 
        class="toolbar-title"></span>  
    </div>

    <div>
        <button 
        mat-icon-button class="example-icon"
        aria-label="Example icon-button with user icon">
         <div
         class="tama">
            <i 
            class="fas fa-user"></i>
         </div>        
          
        </button>
      </div>
    
  </mat-toolbar>


<br>
<br>

<div>
    <mat-card class="custom-card">
      <div class="circle">
        <!-- Contenido del círculo, si es necesario -->
      </div>
      <div class="card-content">
        
      </div>
    </mat-card>   
  </div>

  <br>

  <div style="text-align: center; font-family: 'Alegreya Sans', sans-serif;">
    <h1 style="font-size: 38px; font-weight: bold;">
      Empleados:
    </h1>
  </div>
  <br>

 

  <div class="example-button-row" style="text-align: center;">
  <button
  style="background-color: #85CAFF; color: white;"
    class="registrar"
   mat-flat-button>Registrar empleado</button>
 </div> 
  <br>
  <br>

  <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #40CFFF; color: white;"
      class="registrar"
     mat-flat-button>Editar empleado</button>
   </div> 
  <br>
  <br>

  <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #2499C7; color: white;"
      class="registrar"
     mat-flat-button>Eliminar empleado</button>
     <br>
   </div> 

   <br>
   <div class="example-button-row" style="text-align: center;">
    <button
    style="background-color: #2499C7; color: white;"
      class="registrar"
     mat-flat-button>Eliminar empleado</button>
     <br>
   </div> 
   
  



  