mat-toolbar {
    background-color: #2596BE;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar-title {
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  
  .user-info {
    background-color: #006691;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .user-info mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .info p {
    margin: 0;
    line-height: 1.2;
  }
  
  .info p:first-child {
    font-weight: bold;
  }
  
  /* Para el icono de login, si lo tiene */
  .login-icon {
    font-size: 24px;
    margin-left: auto;
    margin-right: 20px;
  }
  
  /* Si necesita ajustar el contenedor principal */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #008080; /* Ajuste este color según su diseño */
  }

  .user-icon {
    width: 80px;
    height: 40px;
    background-color: #f0f7fa;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .info p {
    margin: 0;
  }
  
  .container {
    padding: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .app-header {
    background-color: #4DB6AC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .menu-button, .user-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
  }
  
  .app-title {
    display: flex;
    align-items: center;
  }
  
  .helmet-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  

 
  
  .user-details p {
    margin: 0;
  }
  
  .main-content {
    padding: 20px;
  }
  
  h2, h3 {
    text-align: center;
    font-size: 40px;
  }
  
  .temperature-display {
    background-color: #B3E5FC;
    padding: 80px;
    text-align: center;
    max-width: 800px; /* Ajuste este valor según sea necesario */
    margin: 0 auto; /* Esto centrará el contenedor */
    border-radius: 5px;
  }
  
  .temperature, .kelvin {
    margin: 5px 0;
    font-size: 35px;
  }
  
  .status {
    text-align: center;
    font-size: 30px;

  }
  
  .danger {
    color: red;
    font-weight: bold;
    font-size: 30px;
  }
  
  .warning-message {
    background-color: #2499C7;
    color: white;
    max-width: 800px; /* Ajuste este valor según sea necesario */
    margin: 0 auto; /* Esto centrará el contenedor */    text-align: center;
    border-radius: 5px;
    padding: 80px;
  }
  
  .message{
    font-size: 30px;

  }



  .custom-link {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Heredar el color del elemento padre */
    font-size: 38px; /* Tamaño de fuente especificado */
    cursor: pointer; /* Cambiar el cursor a un puntero */
  }
  