<mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">iHelmet</span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  
  <br>

  <div class="user-info">
    <mat-icon>account_circle</mat-icon>
    <div class="info">
      <p>Ing. Adrian Gottfried</p>
      <p>adriangottfried.69@gmail.com</p>
    </div>
  </div>

  <main class="main-content">
    <h2>Empleado : Adrian CA230</h2>
    <h3>Gas</h3>

    <div class="temperature-display">
      <p class="temperature">Se ha detectado gas peligroso</p>
      <br>
    </div>
<br>
    <p class="status">Tierra</p>

    <div class="warning-message">
      <p class="message">Uwu</p>
    </div>
  </main>
  