<!-- forgot-password.component.html -->
<div class="centered-container">
    <mat-card class="custom-card">
      <mat-card-content>
        <h2>Recuperar Contraseña</h2>
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput [(ngModel)]="email" type="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendVerificationCode()">Enviar Código</button>
        <p *ngIf="message">{{ message }}</p>
      </mat-card-content>
    </mat-card>
  </div>