<div class="page-container">
  <div class="login-container">
    <div class="oval-background">
      <h1 class="ss">Recuperar Contraseña</h1>
    </div>

    <form class="login-form">
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="email" name="email" type="email" required />
      </mat-form-field>

      <div class="error-message-container">
        <div *ngIf="errorMessages.length > 0" class="error-message">
          <p *ngFor="let error of errorMessages">{{ error }}</p>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" (click)="sendVerificationCode()">Enviar Código</button>

      <div class="login-links">
        <a [routerLink]="['/home']">Volver al inicio de sesión</a>
      </div>
    </form>
  </div>
</div>