
<mat-toolbar>

    <div>
        <button mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
          <mat-icon class="menu">menu</mat-icon>
        </button>
      </div>
      
    <div>
        <span style="font-size: 38px;">iHelmet</span>
        <span 
        class="toolbar-title"></span>  
    </div>

    <div>
        <button 
        mat-icon-button class="example-icon"
        aria-label="Example icon-button with user icon">
         <div
         class="tama">
            <i 
            class="fas fa-user"></i>
         </div>        
          
        </button>
      </div>
    
  </mat-toolbar>


<br>


<div class="user-info" *ngIf="user">
    <mat-icon>account_circle</mat-icon>
    <div class="info">
      <p>Ing.{{ user.person.person_name }} {{ user.person.person_last_name }}</p>
      <p>{{ user.email }}</p>
    </div>
  </div>
  <br>

  <div style="text-align: center; font-family: 'Alegreya Sans', sans-serif;">
    <h1 style="font-size: 35px; font-weight: bold;">
      Empleados:
    </h1>
  </div>
  <br>

  <div class="example-button-row" style="text-align: center;">
    <button mat-flat-button *ngFor="let user of users.slice(0, 4); let i = index"
      [style.background-color]="getButtonColor(i)"
      style="color: white; font-weight: bold; font-family: 'Alegreya Sans', sans-serif; font-size: 30px;"
      (click)="onUserSelect(user.id)">
      <div class="tama1">
        <i class="fas fa-user"></i>
      </div>   
      <br>
      {{ user.email }}
    </button>
  </div>
  
  <!-- Repite lo mismo para el segundo grupo de usuarios -->
  
  <br>
  <br>
  
  <div class="example-button-row" style="text-align: center;">
    <button mat-flat-button *ngFor="let user of users.slice(4, 8); let i = index"
      [style.background-color]="getButtonColor(i + 4)"
      style="color: white; font-weight: bold; font-family: 'Alegreya Sans', sans-serif; font-size: 30px;"
      (click)="onUserSelect(user.id)">
      <div class="tama1">
        <i class="fas fa-user"></i>
      </div>   
      <br>
      {{ user.email  }}
    </button>
  </div>

  


