<mat-toolbar>
  <div class="menu-icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div>
  
  <span class="toolbar-title" routerLink="/home">
    <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
    iHelmet
  </span>

  <div class="user-menu">
    <div class="menu-icon" (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
</mat-toolbar>
  
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/profile">Perfil</a>
      <a mat-list-item routerLink="/register-employee">Registro Empleado</a>
      <a mat-list-item routerLink="/register-address">Registrar Direccion</a>
      <a mat-list-item routerLink="/edit-employee">Editar Empleado</a>
      <a mat-list-item routerLink="/delete-employee">Eliminar Empleado</a>
      <a mat-list-item routerLink="/register-helmet">Registrar Casco</a>
      <a mat-list-item routerLink="/sensor-record">Historial de Sensores</a>
      <a mat-list-item routerLink="/inf-employee">Información Empleados</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <br>
    <div class="user-info" *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <div class="info">
        <p>Ing. {{ user.person.person_name }} {{ user.person.person_last_name }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <br>
  
    <mat-sidenav-container>
      <mat-sidenav-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
          <h2 class="form-title">Registro de Casco</h2>
          
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Número serial</mat-label>
              <input matInput
                     formControlName="helmet_serial_number"
                     placeholder="Ej: AZ123"
                     aria-describedby="serial-hint serial-error"
                     autocomplete="off">
              <mat-hint id="serial-hint">Ingrese el número serial del casco</mat-hint>
              <mat-error id="serial-error" *ngIf="registerForm.get('helmet_serial_number')?.invalid">
                <span *ngIf="registerForm.get('helmet_serial_number')?.hasError('required')">
                  Este campo es obligatorio
                </span>
                <span *ngIf="registerForm.get('helmet_serial_number')?.hasError('pattern')">
                  Formato inválido, use el formato 'AZ123'
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="form-actions">
            <button mat-flat-button 
                    type="button"
                    class="cancel-button" 
                    (click)="onBackToHome()"
                    aria-label="Cancelar registro">
             
              <span>Cancelar</span>
            </button>
            
            <button mat-flat-button 
                    class="accept-button" 
                    type="submit"
                    [disabled]="registerForm.invalid"
                    aria-label="Aceptar y enviar registro">
             
              <span>Aceptar</span>
            </button>
          </div>
        </form>
      </mat-sidenav-content>
    </mat-sidenav-container>