<mat-toolbar>
    <div class="menu-icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </div>
    
    <span class="toolbar-title" routerLink="/inicio">
      <img src="../../assets/tool3_122846.png" alt="iHelmet" class="helmet-icon">
      iHelmet
    </span>
  
    <div class="user-menu">
      <div class="menu-icon" (click)="toggleUserMenu()">
        <mat-icon>account_circle</mat-icon>
      </div>
    <div class="user-dropdown" [class.show]="isUserMenuOpen">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
  </mat-toolbar>

  <br>





  <br>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
      <a mat-list-item routerLink="/empleados">Inicio</a>
      <a mat-list-item routerLink="/registrar">Registro Empleado</a>
      </mat-nav-list>
    </mat-sidenav>

    <br>

  
    <mat-sidenav-content>
      <div class="camera-container" *ngIf="cameraLink">
        <img [src]="getImageUrl()" alt="Camera Image" class="camera-image">
        <p>Camera Link: {{ cameraLink }}</p>
      </div>
      <div *ngIf="!cameraLink" class="no-camera-message">
        <p>No camera link available. Please make sure you're passing a valid camera link in the URL.</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  